
<div class="login-page">
    <mat-card class="mat-elevation-z12">
       <div class="signin">
        <div class="text-success" *ngIf="success_message" [ngStyle]="{'color':'green','font-size':'22px'}">{{success_message}}</div>
        <div class="text-error" *ngIf="error_message" [ngStyle]="{'color':'red','font-size':'22px'}">{{error_message.error|json}}</div>
    
            <div class="title">
              <h1>change password</h1>
            </div>
            <form  [formGroup]="changePasswordForm" (ngSubmit)="changepassword()" >
           
              <mat-form-field>
                <input matInput placeholder="old Password" type="password" required minlength="4" name="old_password" formControlName="old_password"autocomplete="on">
                <!-- <mat-error *ngIf="password.errors && password.errors['required']">
                  Password is required
                </mat-error>
                <mat-error *ngIf="password.errors && password.errors['minlength']">
                  Password must be of length 6
                </mat-error> -->
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="new Password" type="password" required minlength="4" name="new_password" formControlName="new_password" autocomplete="on">
                <!-- <mat-error *ngIf="password.errors && password.errors['required']">
                  Password is required
                </mat-error>
                <mat-error *ngIf="password.errors && password.errors['minlength']">
                  Password must be of length 6
                </mat-error> -->
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="confirm new Password" type="password" required minlength="4" name="confirm_new_password" formControlName="confirm_new_password" autocomplete="on">
                <!-- <mat-error *ngIf="password.errors && password.errors['required']">
                  Password is required
                </mat-error>
                <mat-error *ngIf="password.errors && password.errors['minlength']">
                  Password must be of length 6
                </mat-error> -->
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-checkbox>Remember Me!</mat-checkbox>
              <div class="btnshape">
                <button mat-raised-button color="primary" class="login-button" type="submit" >
                    change
                  </button>
                  <button mat-raised-button color="primary" class="login-button" routerLink="/user/Admin">
                    Back
                  </button>
              </div>
  
              <button mat-raised-button class="login-button">
                Login with Google
              </button>
            </form>
          </div>
    </mat-card>
  </div>