/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


// .wrapper{
//     display:flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;

// }

// button{
//     padding: 15px 10px;
//     background-color: red;
//     margin-right: 5px;
//     font-weight: 600;
//     color: white;
//     border: none;
//     width: 100px;
// }
// button:disabled{
//     background-color: yellow;
//     opacity: 0.8;
//     color: red;
// }
// .block{
//     width: 320px;
//     background: linear-gradient(270deg, rgb(119, 113, 113) rgb(38, 31, 31));
//     height: 350px;
//     display: flex;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
