body{
    margin-top: 0px;
    box-sizing: 0;
    top: 0;
    padding: 0;
}
.mat-toolbar{
    background-color: rgb(190, 42, 5);
    color: white;
    margin-top: 0px;
    box-sizing: 0;
    top: 0;
    padding: 0;
  }
  .mat-button{
     color: white;
  }
  .spacer{
    flex: 1 1 auto;
  }
  