<p>user-forgotpassword works!</p>



ssw
<div class="login-page">
    <mat-card class="mat-elevation-z12">
       <div class="signin">
            <div class="title">
              <h1>Forgot password</h1>
            </div>
            <form  [formGroup]="ForgotPasswordForm" (ngSubmit)="changepasswoprd()"  >
                <mat-form-field>
                    <input matInput placeholder="Provide registered Email" required class="form-control" name="email" formControlName="email"  >
                    <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error> -->
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
             
             
              <div class="btnshape">
                <button mat-raised-button color="primary" class="login-button">
                   submit
                  </button>
                  <button mat-raised-button color="primary" class="login-button" routerLink="/user/login">
                    Back
                  </button>
              </div>
  
              <button mat-raised-button class="login-button">
                Login with Google
              </button>
            </form>
          </div>
    </mat-card>
  </div>