<p>user-forgotpassword works!</p>




<div class="login-page">
    <mat-card class="mat-elevation-z12">
       <div class="signin">
        <div class="text-success" *ngIf="message" [ngStyle]="{'color':'green','font-size':'22px'}">{{message.msg}}</div>
            <div class="title">
              <h1>Forgot password</h1>
            </div>
            <form  [formGroup]="ForgotPasswordForm" (ngSubmit)="changepassword()"  >
                <mat-form-field>
                    <input matInput placeholder="Provide registered Email" required class="form-control" name="email" formControlName="email"  >
                    <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error> -->
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
             
             
              <div class="btnshape">
                <button mat-raised-button color="primary" type='submit' class="login-button" [disabled]="justclicked">
                   submit
                  </button>
                  
              </div>
  
             
            </form>
          </div>
    </mat-card>
  </div>