<p>login works!</p>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
           <div class="card">
            <div class="text-center">
                <h1>Login</h1>
                <h6>Please Entre Emial And Password</h6>
            </div>
           </div>
        </div>
    </div>
</div> -->
<div class="wrapper">
    <div class="block">
        <form >
            <input type="text" placeholder="Enter User Name" class="inp">
            <input type="text" placeholder="Enter User Name" class="inp">
            <div class="btns">
                <button>Login</button>
                <button>Register</button>
            </div>
        </form>
    </div>
</div>
