
<div class="success" >fenejofiojm</div>

<div class="login-page">
    <mat-card class="mat-elevation-z12">
       <div class="signin">
            <div class="title">
              <h1>Login</h1>
            </div>
            <form  [formGroup]="login" (ngSubmit)="loginSubmitForm()"  >
              <mat-form-field>
                <input matInput placeholder="Username" required class="form-control" name="username" formControlName="username"  >
                <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error> -->
                <mat-icon matSuffix>username</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" type="password" required minlength="6" name="password" formControlName="password">
                <!-- <mat-error *ngIf="password.errors && password.errors['required']">
                  Password is required
                </mat-error>
                <mat-error *ngIf="password.errors && password.errors['minlength']">
                  Password must be of length 6
                </mat-error> -->
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-checkbox>Remember Me!</mat-checkbox>
              <div class="btnshape">
                <button mat-raised-button color="primary" class="login-button">
                    Sign In
                  </button>
                  <button mat-raised-button color="primary" class="login-button" routerLink="/user/register">
                    Sign Up
                  </button>
              </div>
  
              <button mat-raised-button class="login-button">
                Login with Google
              </button>
            </form>
          </div>
    </mat-card>
  </div>


  