<h1>welcome to {{name1}}</h1>

<!-- <app-component1></app-component1>
<app-component1></app-component1> -->
<app-container>
  <app-component1>  </app-component1>
  <app-employes></app-employes>
  <h1> This is from ng-content</h1>
</app-container>
<div #name></div>


<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome The User</div>
  <div *ngSwitchCase="'Admin'">
    <app-component1></app-component1>
  </div>
  <div *ngSwitchDefault>You are not authorized Person to view the page</div>
</div>

<mat-slider min="1" max="100" step="1" value="50">
  <button mat-button color="primary">Primary</button>
</mat-slider> -->

<!-- 
<div>
  <ng-template #user></ng-template>
</div> -->